html, body {
  background: #101040;
  color: white;
  font-family: verdana;
  font-size: 12px;
  margin: 0;
  padding: 0;
  cursor: crosshair;
}

#box {
  border: 1px solid white;
  background: #102040;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 500px;
}

#introduction {
  margin: 10px;
  font-size: 10px;
  text-align: left;
}

#startkanin {
 visibility: hidden;
 position: absolute;
 left: 145px;
 top: 185px;
}

#reload {
  border: 1px solid white;
  width: 502px;
  height: 15px;
  background: #102040;
  color: white;
  font-size: 10px;
}

#reload:hover {
  background: #204080;
}

#countdown {
  border: 1px solid white;
  width: 500px;
  height: 15px;
  background: #102040;
}

#progress {
  background: #204080;
  width: 0%;
  height: 15px;
}

a {
  color:#ffffff;
  font-weight:bold;
  text-decoration:none;
}

table {
  font-size: 10px;
  border-width: 1px;
}

td {
  border-width: 0;
  background: #102040;
  text-align: center;
}
